/* Index CSS
==================
** Template styles
*/
/* line 10, ../scss/_base.scss */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 20, ../scss/_base.scss */
html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

@-ms-viewport . @-o-viewport. @viewport {
  width: device-width;
}
/* line 33, ../scss/_base.scss */
article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

/* line 37, ../scss/_base.scss */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Open Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #ffffff;
}

/* line 48, ../scss/_base.scss */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5rem;
}

/* line 53, ../scss/_base.scss */
p {
  margin-top: 0;
  margin-bottom: 1rem;
}

/* line 58, ../scss/_base.scss */
ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

/* line 65, ../scss/_base.scss */
ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

/* line 72, ../scss/_base.scss */
address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

/* line 78, ../scss/_base.scss */
a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
/* line 84, ../scss/_base.scss */
a:hover {
  color: #0056b3;
  text-decoration: none;
}
/* line 89, ../scss/_base.scss */
a:focus {
  outline: 0;
}

/* line 94, ../scss/_base.scss */
a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}

/* line 98, ../scss/_base.scss */
a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
  color: inherit;
  text-decoration: none;
}

/* line 102, ../scss/_base.scss */
a:not([href]):not([tabindex]):focus {
  outline: 0;
}

/* line 106, ../scss/_base.scss */
a,
area,
button,
[role="button"],
input:not([type=range]),
label,
select,
summary,
textarea {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

/* line 119, ../scss/_base.scss */
pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* line 126, ../scss/_base.scss */
pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  -ms-overflow-style: scrollbar;
}

/* line 133, ../scss/_base.scss */
figure {
  margin: 0 0 1rem;
}

/* line 137, ../scss/_base.scss */
img {
  vertical-align: middle;
  border-style: none;
}

/* line 142, ../scss/_base.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 146, ../scss/_base.scss */
blockquote {
  margin: 0 0 1rem;
  border-left: 3px solid #2196F3;
  background: #E3E3E3;
}

/* line 152, ../scss/_base.scss */
hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/* line 159, ../scss/_base.scss */
dd {
  margin-bottom: .5rem;
  margin-left: 0;
}

/* line 163, ../scss/_base.scss */
dt {
  font-weight: 700;
}

/* line 167, ../scss/_base.scss */
small {
  font-size: 80%;
}

/* line 171, ../scss/_base.scss */
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

/* line 179, ../scss/_base.scss */
sub {
  bottom: -.25em;
}

/* line 183, ../scss/_base.scss */
sup {
  top: -.5em;
}

/* line 187, ../scss/_base.scss */
video, img, object, embed, iframe {
  max-width: 100%;
}

/* line 190, ../scss/_base.scss */
iframe {
  border: 0;
}
